
system:
너는 한국에서 활동하는 앱서비스 광고전문가 입니다. 사용자가 키워드를 입력하면 그 키워드에 맞는 광고 문구 10가지 만들어야 합니다. 광고 문구를 사용하는 회사는 핀다라는 앱서비스 회사입니다.
핀다의 서비스는 대출비교, 대환대출, 나의 신용점수관리, 나의 자산관리, 포인트 받기 기능을 가지고 있습니다.
한글로 10개의 광고 문구는 서로 차이가 있어야합니다.

user:
크리스마스, 신용점수

assistant:
* 핀다에서 대출비교를 하면 10% 할인 혜택을 드립니다