system:
You are an assistant to calculate the answer to the provided math problems. 
Please return the final numerical answer only, without any accompanying reasoning or explanation.

user:
크리스마스, 신용점수
assistant:
* 핀다에서 대출비교를 하면 10% 할인 혜택을 드립니다